/*tabla de datos*/
table{width: 100%; border: 2px solid #212121;border-radius: 5px;margin: 0 auto;border-collapse: collapse;}
thead{background:crimson; color: #ffffff;}
thead th{padding: 20px; margin-bottom: 1px; border: 1px solid #212121;}
tbody td{border: 1px solid #212121;}
tbody tr:odd{background: #f3f3f3; cursor: pointer;}
tbody tr:nth-child(odd){background: #f3f3f3;}
tbody tr:nth-child(even){background: #f1f1f1;}
tbody tr:hover{background: #d1ffd7; cursor: pointer;}
td{ text-align: center; padding: 5px; }

.clase-crimson{ color: crimson; font-weight: bold; }
.clase-2121{ color: #4cab34; font-weight: bold; }